/* ======================================= Modals Style ======================================= */

.modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    @include flex();
    @include css3-prefix('justify-content', 'center');
    @include css3-prefix('align-items', 'center');
    @include css3-prefix('flex-direction', 'column');
}

.modal-dialog {
    min-width: 500px;
    margin: 0;
}

.modal-content {
    background-color: $modal-background-color;
    border-color: $modal-border-color;
    border-radius: $modal-border-radius;
}

.modal-header {
    display: inline-block;
    padding: $modal-body-padding;
    border: none;
    position: relative;
    .modal-text {
        padding-left: 20px;
        h4 {
            font-size: $modal-heading-font-size;
            font-weight: $modal-heading-font-weight;
            color: $modal-heading-font-color;
        }
    }
    .modal-icon {
        width: 48px;
        i {
            font-size: 48px;
        }
    }

    .close{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-top: 5px;
    margin-right: 5px;
    text-shadow: none;
    cursor: pointer;
    outline: none;
    }
}

.modal-body {
    margin: $modal-body-padding;
    margin-top: 0;
    border: 1px solid $border-color;
    border-radius: 3px;
    padding: 10px;
    max-height: 120px;
    overflow-y: auto;
    &.no-body-style {
        padding: 0;
        border: none;
        max-height: none;
        overflow-x: hidden;
    }
}

.modal-footer {
    border-top: none;
    padding: $modal-footer-padding;
    background: transparentize($modal-footer-background-color, (1 -$modal-footer-background-opacity));
}

.modal {
    @each $type,
    $value in $modal-variant {
        &.modal-#{$type} {
            @include modal-variant($value);
        }
    }
}

#errorBtn {
    display: none;
}

.modal-title {
    color: $ob-primary-color;
}

.close-modal{
    background-color: transparent;
    color: inherit;
    font-size: 14px;
    cursor: pointer;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    line-height: 0;
    padding: 6px;
    right: 10px;
    border: 1px solid transparent;
    &:hover{
        color: var(--mainHover);
        border-color: var(--mainHover);
    }
}

.dialog-top {
    .text {
        display: inline-block;
        border-bottom: 2px solid var(--secondary);
        padding-bottom: 14px;
        margin-bottom: -1px;
        font-size: 13px;
        font-weight: bold;
        h4 {
            font-size: 14px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        p {
            margin: 0;
        }
    }
}