// Constant Colors
$text-color: #2C2F33;
$disable-text-color: #454950;
$disable-text-color-light: #797F86;
$button-border-color: #797F86;
$input-border-color: #C8CED1;
$disable-background-color: #DDE1E3;
$hover-background-color:  #F3F5F9;
$success-color: #4BAF4F;
$error-color: #FF0000;
$border-color: #DDE1E3;

// Theme Colors
$theme-color: #4E4076;
$theme-color-hover: rgba(78, 64, 118, 0.904);
$green: #4BAF4F;
$red: #FF0000;
$white: #FFFFFF;
$gold: #CF990D;
$app-text-color: #FFFFFF;
$secondary-color: $gold;

$side-navigation-menu-color: #1D273A;
$side-navigation-text-color: #FFFFFF;
$side-navigation-active-text-color: #4E4076;

// Fonts
$title-color: #000000;
$tab-font-color: #797F86;
$active-tab-font-color: #000000;
$secondary-text-color: #797F86;
