<form class="form-group" [formGroup]="signupForm">
  <div class="form-control">
    <label>Primeiro Nome</label>
    <input type="text" formControlName="firstName">
  </div>
  <div class="form-control">
    <label>Último Nome</label>
    <input type="text" formControlName="lastName">
  </div>
  <div class="form-control">
    <label>Email</label>
    <input type="email" formControlName="email">
  </div>
  <div class="form-control">
    <label>Usuário</label>
    <input type="text" formControlName="username">
  </div>
  <div class="form-control">
    <label>Senha</label>
    <input type="text" formControlName="password">
  </div>
  <div class="form-control">
    <label>Confirmação de Senha</label>
    <input type="text" formControlName="confirmPassword">
  </div>
</form>

<pre>
  value: {{ signupForm.value | json }}
  valid: {{ signupForm.valid | json }}
</pre>
