.dragdrop-component {
  user-select: none;

  .k-grid {

    .k-grid-header {
      background: #ffffff;

      tr {
        background: #ffffff;
      }
    }

    tbody {
      tr {
        background: #F3F5F9;
        &:hover {
          background: #daecf9;
        }
  
        td {
          border-bottom: 2px solid #ffffff !important;
        }
      }
    }

  }

  .list-page-wrapper {

    .wrapper-child {
      padding: 0;
    }
  }

  .side-section .scrollable-side-section .list-wrapper ul li:hover {
    background: #daecf9;
  }

  .source-items {

    li {
      background: #F3F5F9;
      border-bottom: 2px solid #ffffff;
      cursor: pointer;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .no-draggable-ico {
    font-size: 16px;
    padding: 8px;
  }

  .draggable-item {
    padding-left: 0;

    .draggable-ico {
      font-size: 16px;
      position: relative !important;
    }
  }

  .k-grid.list-page-grid tr td:first-child .inner-td {
    padding: 0 !important;
  }

  .source-filter {
    input {
      width: 150px;
    }
    &.no-filter {
      input {
        width: 225px;
      }
    }
  }

  .k-grid.list-page-grid .k-grid-header th {
    padding-left: 16px !important;
  }

  .icon-ico64x64_drag_drop {
    font-size: 64px;
  }

  .drag-drop-kendo-list .k-grid.list-page-grid tr.k-state-selected td .inner-td,
  .drag-drop-kendo-list .k-grid.list-page-grid tr:hover td .inner-td {
    background: #daecf9;
  }

  .no-padding {
    padding: 0;
  }

  .dragging {
    background: #fff;
    opacity: 0.1 !important;
  }

}

#drag-holder {
  width: 230px;
  height: 60px;
  top: -60px;
  right: -230px;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  z-index: 99999999999;

  > div {
    background: #daecf9;
    border: 1px solid #fff;
    width: 213px;
    box-sizing: border-box;
    height: 35px;
    padding: 0 15px 0 0;
    align-items: center;
    display: flex;
    justify-content: stretch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
    > span {
      &:not(.draggable-ico) {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 100%;
      }
      &.draggable-ico {
        height: 16px;
        width: 16px;
        font-size: 16px;
      }
    }
  }

  > .itens-number {
    background: $theme-color;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    color: #fff;
    font-size: 10px;
    margin-top: 3px;
    position: absolute;
    top: 0;
    right: 0;
  }
}
