<aside class="side-menu" [class.expanded]="pageMenulist.expanded">

  <div class="header-side-menu" [@togglerAnimation]>
    <button class="side-menu-toggler" type="button" (click)="toggle()" [@togglerAnimation]>
      <i class="fas fa-bars"></i>
    </button>
    <div class="header-side-menu-body" [@togglerAnimation]>
      <span class="title" *ngIf="pageMenulist.expanded" [@togglerAnimation]>
        {{ pageMenulist.showFavoriteList ? 'Favoritos' : 'Navegação' }}
      </span>
      <button class="favorite-toggler" *ngIf="pageMenulist.expanded" (click)="toogleFavorite()"
        [class.active]="pageMenulist.showFavoriteList" [@togglerAnimation]>
        <i [ngClass]="pageMenulist.showFavoriteList ? 'fas' : 'far'" class="fa-star"></i>
      </button>
    </div>
  </div>

  <ul class="side-menu-items" *ngIf="pageMenulist.expanded" [@togglerAnimation]>
    <li *ngFor="let menu of getPageMenuList()" [routerLinkActive]="'active'">
      <a class="side-menu-item" [routerLink]="[menu.path]" [routerLinkActive]="'active'">
        <i [class]="menu.data.icon"></i>
        <span>{{ menu.data.title }}</span>
      </a>
      <ul class="side-menu-items-children" *ngIf="menu.children" [@togglerAnimation]>
        <li *ngFor="let menuChildren of menu.children" [routerLinkActive]="'active'">
          <a class="side-menu-item" [routerLink]="[menuChildren.path]" [routerLinkActive]="'active'">
            <i [class]="menuChildren.data.icon"></i>
            <span>{{ menuChildren.data.title }}</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>

</aside>
