.side-menu {
  width: 45px;
  height: 100%;
  margin: 0;
  color: #fff;
  background: #2C2442;
  transition: 0.2s;
  &.expanded {
    width: 250px;
    transition: 0.2s;
    .header-side-menu {
      .header-side-menu-body {
        display: flex;
      }
    }
  }
  .header-side-menu {
    display: flex;
    justify-content: space-between;
    align-content: center;
    .header-side-menu-body {
      display: none;
      width: 100%;
      justify-content: space-between;
    }
    .side-menu-toggler,
    .favorite-toggler {
      cursor: pointer;
      height: 45px;
      width: 45px;
      text-align: center;
      border: none;
      color: #FFF;
      background-color: transparent;
      &.active {
        color: gold;
      }
    }
    .title {
      display: block;
      align-self: center;
      font-weight: 700;
    }
  }

  .side-menu-items {
    li {
      width: 100%;
      list-style-type: none;
      display: inline-block;
      .side-menu-item {
        font-size: 12px;
        padding: 10px 15px;
        display: block;
        color: #FFF;
      }
      &.active {
        font-weight: 700;
        background-color: #221C33;
      }
      &:hover {
        background-color: #221C33;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  // .side-menu {
  //   width: 100% !important;
  //   background-color: red;
  //   &.expanded {
  //     width: 100% !important;
  //   }
  // }
}
