.side-menu {
  width: 60px;
  height: 100%;
  margin: 0;
  color: #fff;
  background: #2C2442;
  transition: 0.2s;
  &.expanded {
    width: 300px;
    transition: 0.2s;
  }

  .header-side-menu {
    .side-menu-toggler {
      text-align: center;
      border: none;
    }
    a,
    .favorite-toggler {
      cursor: pointer;
    }
  }

  .side-menu-items {
    width: 100%;
    padding: 0;
    .side-menu-item {
      width: 100%;
      list-style-type: none;
      &.active {
        background-color: red;
      }
      &:hover {
        background-color: #221C33;
      }
      a {
        color: #FFF;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  // .side-menu {
  //   width: 100% !important;
  //   background-color: red;
  //   &.expanded {
  //     width: 100% !important;
  //   }
  // }
}
