<aside class="side-menu" [class.expanded]="pageMenulist.expanded">

  <div class="header-side-menu">
    <button class="side-menu-toggler" type="button" (click)="toggle()">
      <i class="material-icons menu"></i>
    </button>
    <span class="title" *ngIf="pageMenulist.expanded" [@togglerAnimation]>Navegação</span>
    <a class="favorite" [class.active]="true" *ngIf="pageMenulist.expanded" [@togglerAnimation]>
      <i></i>
      start
    </a>
  </div>

  <ul class="side-menu-items" *ngIf="pageMenulist.expanded" [@togglerAnimation]>
    <li class="side-menu-item" *ngFor="let menu of pageMenulist.menuList">
      <a [routerLink]="[menu.path]" [routerLinkActive]="'active'">
        <i [class]="menu.data.icon"></i>
        <span>{{ menu.data.title }}</span>
      </a>
    </li>
  </ul>

</aside>
