// Alert Box
$alert-error-background-color: #FFE5E5;
$alert-error-border-color: #FFACAC;
$alert-success-background-color: #C7FBC9;
$alert-success-border-color: #4BAF4F;
$alert-warning-background-color: #FAF5E6;
$alert-warning-border-color: #F0DEB0;
$alert-info-background-color: #D2ECFF;
$alert-info-border-color: #0C83D9;

$alert-title-font-size: 12px;
$alert-title-font-wight: 700;
