<div class="content">

  <div class="card-login">
<!--
    <pre>{{ loginForm.value | json }}</pre>
    <pre>{{ loginForm.valid | json }}</pre> -->

    <div class="header">
      <img src="assets/icons/bilbo.png" alt="brand">
      <div class="header-title">Bem-vindo ao Bilbo Financeiro!</div>
      <p>Entre com os seus dados nos campos abaixo para fazer login.</p>
    </div>

    <div class="body">
      <form [formGroup]="loginForm">
        <div class="form-group" [class.error]="loginForm.get('username').invalid && loginForm.get('username').dirty">
          <label>Usuário</label>
          <input #username class="form-control" type="text" name="username" formControlName="username">
        </div>
        <div class="form-group" [class.error]="loginForm.get('password').invalid && loginForm.get('password').dirty">
          <label>Senha</label>
          <input #password class="form-control" type="text" name="password" formControlName="password">
        </div>
      </form>
      <div class="form-buttons">
        <button class="btn btn-link">Esqueci minha senha</button>
        <button class="btn btn-primary" (click)="login();">Iniciar Sessão</button>
      </div>
      <!-- <button class="btn btn-link" [routerLink]="['/signup']">Cadastrar-se</button> -->
    </div>

    <div class="footer-card">
      <div class="footer-title">Aviso de Segurança</div>
      <ul>
        <li>Mantenha as suas credencias privadas e confidencias;</li>
        <li>Nunca utilize senhas simples ou óbvias;</li>
        <li>A equipe Bilbo Finc. nunca irá pedir os seus dados de acesso.</li>
      </ul>
    </div>

  </div>

  <footer class="footer-login">
    <p>Bilbo Finc. @ 2019 Todos os direitos reservados</p>
    <P>Versão 1.0.0.0</P>
  </footer>

</div>
