.content {
  background-image: #4E4076 url("https://images.mentalfloss.com/sites/default/files/styles/mf_image_16x9/public/536315-istock-623292382.jpg?itok=tQlA418-&resize=1100x1100") no-repeat center center fixed;
  background-size: cover;
  font-family: "Roboto";
  &::before {
    z-index: -1;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(78, 64, 118, 0.8);
    width: 100%;
    height: 100%;
  }
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fff;
  width: 285px;
  margin: -140px 0 0 -182px;
  padding: 40px;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
  & h2 {
    margin: 0 0 20px;
    line-height: 1;
    color: #4E4076;
    font-size: 18px;
    font-weight: 400;
  }
  & input {
    outline: none;
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    color: #ccc;
    font-family: "Roboto";
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    transition: 0.2s linear;
    &:focus {
      color: #333;
      border: 1px solid #4E4076;
    }
  }

  & button {
    cursor: pointer;
    background: #4E4076;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    color: #fff;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    transition: 0.2s linear;
    &:hover {
      background: #4E4076;
    }
  }
}
