.content {
  display: flex;
  flex-direction: row;
  .wishes-form {
    width: 40%;
    margin: 10px;
    .form-group {
      width: 135px;
    }
    .submit-actions {
      margin-top: 20px;
    }
  }
  .wishes-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    .wish-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 8px;
      font-size: 11px;
      font-weight: 800;
      color: #000;
      background-color: #aaaaaa
    }
  }
}
